[
{"gyoshu":1,"gyoshumei":"オフィス","rank":1,"name":"コピー用紙","no":1240,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":2,"name":"ペットボトル","no":2001,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":3,"name":"缶","no":7003,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":4,"name":"弁当がら（紙・プラスチック）","no":1031,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":5,"name":"ダンボール","no":1285,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":6,"name":"生ごみ","no":1467,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":7,"name":"チラシ","no":1237,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":8,"name":"封筒","no":1384,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":9,"name":"ビン","no":7014,"suffix":1},
{"gyoshu":1,"gyoshumei":"オフィス","rank":10,"name":"発泡スチロール","no":1021,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":1,"name":"生ごみ","no":1467,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":2,"name":"缶","no":7003,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":3,"name":"残飯","no":5026,"suffix":2},
{"gyoshu":2,"gyoshumei":"飲食業","rank":4,"name":"プラスチック容器","no":1400,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":5,"name":"コーヒーがら","no":1238,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":6,"name":"割りばし","no":1441,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":7,"name":"新聞紙","no":1470,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":8,"name":"ビン","no":7014,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":9,"name":"紙おしぼり","no":1472,"suffix":1},
{"gyoshu":2,"gyoshumei":"飲食業","rank":10,"name":"紙パック","no":1176,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":1,"name":"コピー用紙","no":1240,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":2,"name":"空箱（紙）","no":1448,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":3,"name":"ダンボール","no":1285,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":4,"name":"ペットボトル","no":2001,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":5,"name":"雑誌","no":1253,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":6,"name":"紙コップ","no":1062,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":7,"name":"ペーパータオル","no":1463,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":8,"name":"包装紙","no":1422,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":9,"name":"弁当がら（紙・プラスチック）","no":1031,"suffix":1},
{"gyoshu":3,"gyoshumei":"医療機関・薬局・製薬業","rank":10,"name":"缶","no":7003,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":1,"name":"コピー用紙","no":1240,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":2,"name":"生ごみ","no":1467,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":3,"name":"ペットボトル","no":2001,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":4,"name":"紙おむつ（感染のおそれがないもの）","no":1061,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":5,"name":"ダンボール","no":1285,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":6,"name":"缶","no":7003,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":7,"name":"ビン","no":7014,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":8,"name":"本","no":1430,"suffix":2},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":9,"name":"弁当がら（紙・プラスチック）","no":1031,"suffix":1},
{"gyoshu":4,"gyoshumei":"福祉事業・教育機関","rank":10,"name":"ティッシュ","no":1290,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":1,"name":"髪の毛","no":1050,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":2,"name":"パーマ液容器（プラスチック）","no":1336,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":3,"name":"雑誌","no":1253,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":4,"name":"ペットボトル","no":2001,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":5,"name":"スプレー缶","no":7012,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":6,"name":"カラー剤容器（チューブ）","no":1183,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":7,"name":"空箱（紙）","no":1448,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":8,"name":"缶","no":7003,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":9,"name":"ダンボール","no":1285,"suffix":1},
{"gyoshu":5,"gyoshumei":"理容店・美容院","rank":10,"name":"新聞紙","no":1470,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":1,"name":"コピー用紙","no":1240,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":2,"name":"ダンボール","no":1285,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":3,"name":"缶","no":7003,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":4,"name":"ペットボトル","no":2001,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":5,"name":"新聞紙","no":1470,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":6,"name":"カタログ","no":1167,"suffix":2},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":7,"name":"封筒","no":1384,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":8,"name":"チラシ","no":1237,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":9,"name":"伝票","no":1388,"suffix":1},
{"gyoshu":6,"gyoshumei":"販売業・運送業","rank":10,"name":"発泡スチロール","no":1021,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":1,"name":"コピー用紙","no":1240,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":2,"name":"ペットボトル","no":2001,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":3,"name":"生ごみ","no":1467,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":4,"name":"缶","no":7003,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":5,"name":"チラシ","no":1237,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":6,"name":"畳くず","no":4070,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":7,"name":"コンクリート廃材","no":4052,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":8,"name":"FAXのインクフィルム","no":1475,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":9,"name":"塩化ビニルシート","no":1473,"suffix":1},
{"gyoshu":7,"gyoshumei":"建設業・製造業","rank":10,"name":"タバコの吸殻","no":1469,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":1,"name":"コピー用紙","no":1240,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":2,"name":"ダンボール","no":1285,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":3,"name":"ペットボトル","no":2001,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":4,"name":"伝票","no":1388,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":5,"name":"生ごみ","no":1467,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":6,"name":"タイヤ","no":4067,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":7,"name":"塗装した後の新聞","no":1468,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":8,"name":"菓子袋","no":1164,"suffix":1},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":9,"name":"カタログ","no":1167,"suffix":2},
{"gyoshu":8,"gyoshumei":"自動車・オートバイ関連業","rank":10,"name":"紙テープ","no":1174,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":1,"name":"肥料袋","no":1368,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":2,"name":"茎","no":1471,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":3,"name":"花がら","no":1466,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":4,"name":"木質ごみ","no":5018,"suffix":2},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":5,"name":"ビニールポット","no":1465,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":6,"name":"プラスチックカップ","no":1464,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":7,"name":"紙コップ","no":1062,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":8,"name":"コピー用紙","no":1240,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":9,"name":"ダンボール","no":1285,"suffix":1},
{"gyoshu":9,"gyoshumei":"農林・園芸業","rank":10,"name":"生ごみ","no":1467,"suffix":1}
]
