品目,よみ,業種指定,排出区分,指定袋,搬入制限,搬入制限コメント,産業廃棄物,収納袋義務除外申請対象,備考1,備考1リンク,備考1リンク表示文字列,備考2,備考2リンク,備考2リンク表示文字列,更新日
発泡スチロール,はっぽうすちろーる,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
弁当容器（紙・プラスチック）,べんとうようき,,可燃,対象,,,,,,,,,,,2/22/2019
髪の毛（人毛）,かみのけ,,可燃,対象,,,,,,,,,,,2/22/2019
紙おむつ（感染のおそれがないもの）,かみおむつ,,可燃,対象,,,,,,,,,,,2/22/2019
紙コップ,かみこっぷ,,可燃,対象,,,,,,,,,,,2/22/2019
MD,えむでぃー,,粗大(不燃),対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
菓子袋,かしぶくろ,,可燃,対象,,,,,,,,,,,2/22/2019
カタログ,かたろぐ,製本業、パルプ・紙・紙加工品製造業、新聞業、出版業,搬入不可,,,,産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,,,,,,,2/22/2019
カタログ,かたろぐ,その他の業種,可燃,対象,,,,,,,,,,,2/22/2019
紙テープ,かみてーぷ,,可燃,対象,,,,,,,,,,,2/22/2019
紙パック,かみぱっく,,可燃,対象,,,,,,,,,,,2/22/2019
カラー剤容器・チューブ（プラスチック）,からーざいようき,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=3890&suffix=1,,,,,2/22/2019
広告チラシ,こうこくちらし,,可燃,対象,,,,,,,,,,,2/22/2019
コーヒーがら,こーひーがら,,可燃,対象,,,,,,,,,,,2/22/2019
コピー用紙,こぴーようし,,可燃,対象,,,,,,,,,,,2/22/2019
雑誌,ざっし,,可燃,対象,,,,,,,,,,,2/22/2019
ダンボール,だんぼーる,,可燃,対象,,,,,,,,,,,2/22/2019
ティッシュペーパー,てぃっしゅぺーぱー,,可燃,対象,,,,,,,,,,,2/22/2019
パーマ液容器（プラスチック）,ぱーまえきようき,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
肥料袋（紙）,ひりょうぶくろ,,可燃,対象,,,,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=1367&suffix=1,,,,,2/22/2019
封筒（紙）,ふうとう,,可燃,対象,,,,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=1380&suffix=1,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=1381&suffix=1,,2/22/2019
複写伝票（レシート）,ふくしゃでんぴょう,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
プラスチック容器（指定袋に入るもの）,ぷらすちっくようき,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=3338&suffix=1,,,,,2/22/2019
包装紙,ほうそうし,,可燃,対象,,,,,,,,,,,2/22/2019
本,ほん,製本業、パルプ・紙・紙加工品製造業、新聞業、出版業,搬入不可,,,,産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,,,,,,,2/22/2019
本,ほん,その他の業種,可燃,対象,,,,,,,,,,,2/22/2019
割り箸,わりばし,,可燃,対象,,,,,,,,,,,2/22/2019
空き箱（紙）,あきばこ,,可燃,対象,,,,,,,,,,,2/22/2019
ペーパータオル,ぺーぱーたおる,,可燃,対象,,,,,,,,,,,2/22/2019
プラスチックカップ,ぷらすちっくかっぷ,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
ビニールポット,びにーるぽっと,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
花がら,はながら,,可燃,対象,,,,,,,,,,,2/22/2019
印鑑ケース,いんかんけーす,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
食品サンプル,しょくひんさんぷる,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
タバコの吸い殻,たばこのすいがら,,可燃,対象,,,,,,,,,,,2/22/2019
新聞紙,しんぶんし,,可燃,対象,,,,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=1468&suffix=1,食品サンプルは、可燃ごみです,PCBが塗布され、又は染み込んだものは産業廃棄物として処分してください,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=5014&suffix=1,,2/22/2019
茎,くき,,可燃,対象,,,,,,,,,,,2/22/2019
紙おしぼり,かみおしぼり,,可燃,対象,,,,,,,,,,,2/22/2019
塩化ビニルシート※建設工事に伴うもの以外で、一辺が50cm以下のもの,えんかびにるしーと,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,新築、改築、増築、除去等の工事に使用されたものは産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,一辺が50cm以上のものは粗大(不燃)ごみです,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=1474&suffix=1,,,,,2/22/2019
ウレタンホース,うれたんほーす,,可燃,対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,新築、改築、増築、除去等の工事に使用されたものは産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,,,,,,,2/22/2019
ペットボトルの本体,ぺっとぼとるのほんたい,,資源,対象,,,,,軽く水洗いし、平たくつぶしてください,,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=1028&suffix=1,,2/22/2019
一升瓶,いっしょうびん,,資源,対象,,,,,以下のものは取り扱いが異なります,,○割れたびん・キャップ(金属)→粗大(不燃)ごみ○リターナブルびん(ビールびんなど)→販売店に返却,,,,2/22/2019
オイルボトル（びん）,おいるぼとる,,資源,対象,,,,,,,,,,,2/22/2019
牛乳びん,ぎゅうにゅうびん,,資源,対象,,,,,,,,,,,2/22/2019
ケチャップの容器（びん）,けっちゃっぷのようき,,資源,対象,,,,,,,,,,,2/22/2019
ドレッシングの容器（びん）,どれっしんぐのようき,,資源,対象,,,,,以下のものは取り扱いが異なります,,○割れたびん・キャップ(金属製)→粗大(不燃)ごみ○キャップ(プラスチック)→可燃ごみ,,,,2/22/2019
マヨネーズの容器（びん）,まよねーずのようき,,資源,対象,,,,,,,,,,,2/22/2019
コーヒーのびん,こーひーのびん,,資源,対象,,,,,中身は使い切り、軽く水洗いしてください,,,以下のものは取り扱いが異なります,,○割れたびん・キャップ(金属製)→粗大(不燃)ごみ○キャップ(プラスチック)→可燃ごみ,2/22/2019
ドリンク剤の空きびん,どりんくざいのあきびん,,資源,対象,,,,,中身は使い切り、軽く水洗いしてください,,,割れたびん・キャップ(金属製)は粗大(不燃)ごみとして廃棄してください,,,2/22/2019
椅子,いす,,粗大(不燃),,対象,排出できるのは、排出元一箇所につき、5点までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入る場合は、排出元一箇所につき、70Lの袋で3袋まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
乾電池,かんでんち,,粗大(不燃),対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
コップ（ガラス・陶磁器）,こっぷ,,粗大(不燃),対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
扇風機,せんぷうき,,粗大(不燃),対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
ビデオデッキ,びでおでっき,,粗大(不燃),対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
フライパン,ふらいぱん,,粗大(不燃),対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,,,,,,,2/22/2019
コンクリート・アスファルトの破砕がら,こんくりーと・あすふぁるとのはさいがら,,搬入不可,,,,産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,,,,,,,2/22/2019
タイヤ,たいや,,搬入不可,,,,産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,遊具使用の場合も含まれます,,,タイヤ交換に伴う場合は、タイヤ販売店で引取ることができます,,,2/22/2019
畳くず（建設系廃材と一緒に搬入した場合）,たたみくず,,搬入不可,,,,産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,新建材の畳も含まれます,,,,,,2/22/2019
剪定枝・伐採木（太さ5cm、長さ50cm以下のもの）,せんていえだ・ばっさいぼく,造園工事業,搬入不可,,,,産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,造園工事業（庭園、公園、緑地等の苑地を築造する工事を行う事業）により生じたものがこれに当たります。一方、造園業（主として請負で築庭、庭園樹の植樹、庭園・花壇の手入れなどを行う事業）により生じたものは可燃ごみとなります。,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=5018&suffix=2,剪定枝・伐採木（太さ5cm、長さ50cm以下のもの）（その他の業種 が排出する場合）の排出方法,,,,2/22/2019
剪定枝・伐採木（太さ5cm、長さ50cm以下のもの）,せんていえだ・ばっさいぼく,その他の業種,可燃,対象,,,,事前申請により、指定袋に入れずに市の処分施設に持ち込むことができます。,太さ5cm、長さ50cmを超えるものは粗大(不燃)ごみです,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=5019&suffix=2,,,,,2/22/2019
食べ残し,たべのこし,食品製造業,搬入不可,,,,産業廃棄物として処分してください。くわしくは、現在契約中の許可業者 または、兵庫県産業廃棄物協会（078-381-7464）にお尋ねください。,,,,,,,,2/22/2019
食べ残し,たべのこし,食品製造業以外,可燃,対象,,,,,,,,,,,2/22/2019
空き缶（飲食料品・調味料が入っていたもの）※ペール缶・一斗缶等大きい缶,あきかん,,資源,対象,,,,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=7003&suffix=1,空き缶（飲食料品・調味料が入っていたもの）※小型の缶は、資源ごみです,,,,2/22/2019
空き缶（飲食料品・調味料が入っていたもの）※小型の缶,あきかん,,資源,対象,,,,,中身は使い切り、軽く水洗いしてください,,,関連する品目,http://www.city.kobe.lg.jp/business/regulation/environment/enterprise/bizwastesearch/information.html?no=7002&suffix=1,空き缶（飲食料品・調味料が入っていたもの）※ペール缶・一斗缶等大きい缶は、資源ごみです,2/22/2019
スプレー缶（整髪料が入っていたもの）,すぷれーかん,,粗大(不燃),対象,対象,排出できるのは、排出元一箇所につき、70Lの袋で3袋分までです。それ以上を処分する場合、もしくは継続的に処分する場合は産業廃棄物として処分してください｡（指定袋に入らない場合は、排出元一箇所につき、5点まで排出できます。）産業廃棄物に関するお問い合わせは､現在契約中の許可業者 または､兵庫県産業廃棄物協会（078-381-7464）までご連絡ください。,,,中身を使い切り火の気のない風通しの良い所で穴を開けてください,,,危険物・可燃物が入っており、穴を開けることに危険を伴う場合は「産業廃棄物」として処理してください,link:sanpai,,2/22/2019
空きびん（飲食料品・調味料が入っていたもの）,あきびん,,資源,対象,,,,,中身は使い切り、軽く水洗いしてください,,,以下のものは取り扱いが異なります,,○割れたびん・キャップ(金属製)→粗大(不燃)ごみ○キャップ(プラスチック)→可燃ごみ,2/22/2019
